body {
  font-family: "Raleway", sans-serif;
}
h1 {
  color: white;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 0;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  );
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
}
.weather-temp strong {
  color: white;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temp .active {
  color: white;
  cursor: default;
}
.weather-temp .active :hover {
  text-decoration: none;
}
.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
  color: white;
}
#btnProperty {
  background-color: rgb(0, 37, 84);
  color: white;
  border: none;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
}
li:first-letter {
  text-transform: capitalize;
}
.bottomInfo {
  font-size: 13px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: white;
}
.weather-forecast-temp {
  font-size: 13px;
  color: white;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
